/tests/data/star2excel.xlsx
/tests/data/loop_block.star
/tests/data/basic_block.star
/tests/data/multiblock.star
/tests/data/test_write.star
/tests/data/postprocess.xlsx
/tests/data/cars.star
/tests/data/test_write_kwargs.star
/tests/data/from_df.star
/tests/data/from_list.star
/tests/data/test_overwrite_flag.star
/tests/data/test_write_with_float_format.star
/tests/data/test_overwrite_backup.star
/build/
/dist/
/m2relion/
package.sh
MANIFEST

__pycache__/
/tests/data/*.star~

site/
